.container {
  background-color: var(--snow-white);
  position: fixed;
  height: calc(100vh - var(--size-header-height-sm));
  top: var(--size-header-height-sm);
  right: 0;
  width: 100%;
  border-left: 1px solid #e1e4e9;
  transition: transform 0.15s ease-in-out;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.isOpen {
  transform: translateX(0);
}

.inner {
  padding: 32px var(--size-content-padding-x-sm);
}

.name {
  color: var(--blackend-indigo);
  font-family: var(--font-inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.drawerSummary {
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(60px, 1fr) 2fr;
  align-items: center;
  margin: 24px 0 30px;
}

.badge {
  padding: 2px 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-transform: capitalize;
}

.description :global(.rt-TextAreaInput) {
  background-color: var(--snow-white);
  position: relative;
  margin: 0 -8px;
}

.description :global(.rt-TextAreaChrome) {
  display: none;
}

.closeButton {
  position: absolute;
  top: 32px;
  right: 28px;
  color: #bdbdbd;
  cursor: pointer;
  z-index: 10;
}

@media screen and (min-width: 376px) {
  .container {
    height: calc(100vh - var(--size-header-height-lg));
    top: var(--size-header-height-lg);
    width: 480px;
    max-width: 100%;
  }

  .inner {
    padding: 32px 30px;
  }
}
