.container {
  background-color: var(--snow-white);
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  width: 100%;
  border-left: 1px solid #e1e4e9;
  padding-top: var(--size-header-height-sm);
  transition: transform 0.15s ease-in-out;
  transform: translateX(100%);
}

.isOpen {
  transform: translateX(0);
}

.inner {
  padding: 32px var(--size-content-padding-x-sm);
}

.name {
  color: var(--blackend-indigo);
  font-family: var(--font-inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 24px;
}

.drawerSummary {
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(60px, 1fr) 2fr;
  align-items: center;
  margin-bottom: 30px;
}

.selectItem {
  position: relative;
  padding: 8px 16px 8px 12px;
  border-radius: 0;
}

.selectItem :global(.rt-SelectItemIndicator) {
  color: #7f56d9;
  right: 0;
  left: auto;
}

.optionsList {
  min-width: 210px;
  border-radius: 6.493px;
  border: 0.812px solid #f2f4f7;
  background: #fff;
  box-shadow:
    0px 3.24656px 4.86983px -1.62328px rgba(16, 24, 40, 0.03),
    0px 9.73967px 12.98622px -3.24656px rgba(16, 24, 40, 0.08);
}

.optionsList :global(.rt-SelectViewport) {
  padding: 0;
}

.trigger :global(.rt-SelectIcon) {
  color: var(--harbor-mist);
}

.badge {
  padding: 2px 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.description :global(.rt-TextAreaInput) {
  background-color: var(--snow-white);
  margin: 0 -8px;
}

.closeButton {
  position: absolute;
  top: calc(var(--size-header-height-sm) + 20px);
  right: 28px;
  color: #bdbdbd;
  cursor: pointer;
}

@media screen and (min-width: 376px) {
  .container {
    height: calc(100vh - var(--size-header-height-lg));
    width: 480px;
    max-width: 100%;
    padding-top: var(--size-header-height-lg);
  }

  .inner {
    padding: 32px 30px;
  }

  .closeButton {
    top: calc(var(--size-header-height-lg) + 28px);
  }
}
