.poweredBy {
  display: flex;
  bottom: 25px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background-color: var(--icy-mist);
  border-radius: 12px;
  padding: 16px 24px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.label {
  color: var(--inkwell-gray);
  font-family: var(--font-next-book);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
}
