.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  color: var(--charcoal-blue);
  text-decoration: none;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border-radius: 6px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.accordionItem {
  width: 100%;
}

.itemInner {
  display: flex;
  align-items: center;
  gap: 12px;
}

.item.isComingSoon,
.isComingSoon .icon {
  color: var(--gentle-gray);
  pointer-events: none;
}

.innerLink {
  padding: 8px 12px;
  border-radius: 6px;
  color: var(--charcoal-blue);
  text-decoration: none;
  font-family: var(--font-iner);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.innerLink:hover {
  background-color: var(--frosty-aura);
}

.innerLinkActive {
  background: var(--lilac-breeze);
  color: var(--velvet-plum);
}

.icon {
  color: var(--harbor-mist);
}

.chevron {
  color: var(--soft-denim);
  transition: transform 150ms cubic-bezier(0.87, 0, 0.13, 1);
  transform: rotate(-180deg);
}

.item[data-state='open'] > .chevron {
  transform: rotate(0);
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.isActive,
.item:hover {
  background-color: var(--frosty-aura);
}

.comingSoon {
  border-radius: 16px;
  background: var(--lilac-breeze);
  color: var(--velvet-plum);
  padding: 2px 8px;
  text-align: center;
  font-family: var(--font-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.content {
  overflow: hidden;
}

.content[data-state='open'] {
  animation: slideDown 150ms ease-out;
}

.content[data-state='closed'] {
  animation: slideUp 150ms ease-out;
}

.contentInner {
  padding: 8px 0 8px 36px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.activePage {
  background: var(--lilac-breeze);
  color: var(--velvet-plum);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
