@import 'react-datepicker/dist/react-datepicker.min.css';
@import '@radix-ui/themes/styles.css';

:root {
  --snow-white: #ffffff;
  --ivory-lace: #fcfcfc;
  --blackend-indigo: #03020d;
  --soft-cloud: #efeff0;
  --midnight-charcoal: #232323;
  --harbor-mist: #667085;
  --subtle-frost: #d9d9da;
  --coal-noir: #2e2e2e;
  --slate-night: #292831;
  --gentle-gray: #b0b5ba;
  --lilac-breeze: #f9f5ff;
  --velvet-plum: #6941c6;
  --soft-denim: #98a2b3;
  --frosty-aura: #f9fafb;
  --inkwell-gray: #2b303b;
  --icy-mist: #f4f8fb;
  --charcoal-blue: #344054;

  --size-header-height-sm: 82px;
  --size-header-height-lg: 124px;
  --size-content-padding-x-sm: 16px;
}

.radix-themes {
  --default-font-family: var(--font-inter);
  --accent-a3: var(--frosty-aura);
  --accent-a5: var(--frosty-aura);

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
}
